<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="../static/assets/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/assets/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
</head>
<body>
<div class="wrapper">
    <form class="form-horizontal auth-data"
          th:action="@{/check-auth}" method="post">
        <h2 class="text-center" th:text="#{auth.title}"></h2>

        <div class="form-group">
            <label for="login" class="hidden"></label>
            <input id="login" type="text" class="form-control" name="login"
                   th:placeholder="#{auth.login}"
                   required="" autofocus=""/>
        </div>
        <div class="form-group">
            <label for="password" class="hidden"></label>
            <input id="password" type="password" class="form-control" name="password"
                   th:placeholder="#{auth.password}"
                   required=""/>
        </div>

        <div class="form-group text-left">
            <label th:text="#{auth.provides}"></label>
            <div class="btn-group">
                <a class="btn btn-link" th:href="@{/auth/bitbucket}">
                    <i class="fa fa-bitbucket" aria-hidden="true"></i>
                </a>
                <a class="btn btn-link" th:href="@{/auth/dropbox}">
                    <i class="fa fa-dropbox" aria-hidden="true"></i>
                </a>
                <a class="btn btn-link" th:href="@{/auth/yahoo}">
                    <i class="fa fa-yahoo" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="text-center">
            <input class="btn btn-default" type="submit" th:value="#{auth.apply}"/>
        </div>
    </form>
</div>
</body>
</html>